h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 75px;
}
body {
  text-align: center;
  font-family: 'Muli', sans-serif;
  /* gradient */
  background: #efbbff; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff,	#d896ff,#efbbff);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,#ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff, #d896ff,#efbbff);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff, #d896ff,#efbbff);
  /* Standard syntax */
  background: linear-gradient(to right, #ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff,#d896ff,#efbbff);

  height: 100vh;
}
html, body {
    max-width: 100%;
}


h2 {
  font-size: 300%;
}

#question {
  margin-top: 40px;
  font-size: 45px;
}

.btn {
  margin-top: 20px;
  font-size: 35px;
}

#earlpic {
  margin: 2.5%;
}
