h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  font-weight: 900;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

html, body {
    max-width: 100%;
}

header {
  margin-top: 2.5%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;

  /* gradient */
  background: #efbbff; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff,	#d896ff,#efbbff);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,#ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff, #d896ff,#efbbff);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff, #d896ff,#efbbff);
  /* Standard syntax */
  background: linear-gradient(to right, #ffb3ba,#ffdfba,#ffffba,#baffc9,#bae1ff,#d896ff,#efbbff);
}

h3 {
  font-weight: 700;
  font-style: italic;
}

#question {
  margin-top: 40px;
  font-size: 45px;
}

.btn {
  margin-top: 20px;
  font-size: 35px;
}

#earlpic {
  margin: 2.5%;
}
